@import "../util.css";

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(to bottom left, #0d4091, #13795b);
}

h1 {
  font-weight: 900;
  margin-bottom: var(--space-sm);
}

#wrap {
  width: 27rem;
  background-color: var(--color-white);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-md);
  border: 1px solid var(--color-contrast-lower);
  padding: var(--space-md);
}

.preview {
  padding: var(--space-md);
}

.preview #preview-box {
  width: 200px;
  height: 200px;
  background-color: var(--color-primary-darker);
  margin: 0 auto;
}

.field-wrapper {
  padding-top: var(--space-md);
}

.field-wrapper .field {
  display: flex;
  align-items: center;
  margin-top: var(--space-2xs);
}

.field-wrapper .field label {
  font-size: var(--text-sm);
  color: var(--color-contrast-medium);
}

.field-wrapper .field:not(.horizontal) {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.field-wrapper .field input[type="range"] {
  width: 100%;
}

.field-wrapper .field input[type="checkbox"],
.field-wrapper .field input[type="color"] {
  margin-left: var(--space-3xs);
}

.field-wrapper .field input[type="color"] {
  width: 30px;
  height: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: var(--space-sm) 0 0;
  border-radius: var(--radius-sm);
  background-color: rgba(var(--color-contrast-lower-rgb), 0.5);
  padding: var(--space-xs);
}

.result textarea {
  width: 100%;
  min-height: 70px;
  resize: none;
  font-size: var(--text-sm);
}

.result .btn {
  display: inline-flex;
  align-self: flex-end;
  margin-top: var(--space-3xs);
}
